.TodoItem {
  display: flex;
  margin: 10px 5px;
  width: 50%;
}

.incompleteTodo {
  background-color: white;
  width: 100%;
  display: inline-flex;
}

.incompleteCheck {
  height:100%;
  color:#e9e9e9;
  padding:0px 10px 0px 10px;
}

.incompleteText {
  /* Default color */
  margin:10px;
}

.completedTodo {
  background-color: #f1f1f1;
  width: 100%;
  display: inline-flex;
}

.completedCheck {
  height:100%;
  color: #a1a1a1;
  padding:0px 10px 0px 10px;
}

.completedText {
  color: #d2d2d2;
  margin:10px;
}

/* .TodoItemInner:hover {
  background-color: white;
  width: 80%;
  display: inline-flex;
} */
